.alignment {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(80, 80, 80);
}

.form-cadastro {
    font-size: small;
}

.form-cadastro button {
    border-radius: 15px;
    margin-top: 20px;
    width: 24rem;
}

.selects {
    margin-top: 8px;
    margin-bottom: 8px;
}

.register {
    border-top: 1 solid;
}

.alignment {
    background-color: aliceblue;
}

#comment {
    font-size: 12px;
    color: rgb(80, 80, 80);
}

.title {
    border-bottom: 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.title a {
    text-decoration: none;
    font-size: large;
    margin-top: 15px;
    color: rgb(24, 24, 24);
}

button {
    padding: 10px 5px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FF0011;
    min-width: 50px;
    color: #FF0011;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-weight: 600;
}

button {
    margin-left: auto;
    margin-top: auto;
    padding: 8px;
    height: 30px;
}

button::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(98deg, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translatex(-120px) skew(-20deg)
}

button:hover::before {
    transform: translatex(300px) skew(-20deg);
}

button:hover::before {
    background-color: goldenrod
}