footer {
  background-color: rgba(26, 46, 53, 0.18);
  font-family: 'Poppins';
}

ul {
  list-style-type: none;
}

.payment,.social {
  font-size: smaller;
}

.social {
  margin-left: 33px;
}

.nav-bar{
border-bottom:2px solid rgb(0,0,0);
}
#glasses {
    position: absolute;
    width: 68px;
    height: 54px;
    left: 55px;
    top: 35px;
}

#titlle {
    position: absolute;
    width: 187px;
    height: 54px;
    left: 145px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #FF0011;
}

#list-actions {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    width: 398.11px;
    height: 28px;
    left: 820px;
    top: 36px;
}

#list-actions a {
    text-decoration: none;
    color: rgba(97, 97, 97);
}
#sunglasses,
#gradeglasses {
    padding-right: 15px;
}

#header__main__search-user-cart {
    position: absolute;
    width: 130px;
    height: 33px;
    left: 1200px;
    top: 50px;
}
#profilelink,#homelink {
    padding-right:25px;
}

.items a:hover {
    border-bottom: 3px solid;
    border-color:#FF0011;
    border-radius: 1px;
}
